<div class="modal-header header-modal-container">
    <h4 class="modal-title pull-left">Reset your password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <p>If you forgotten your password, you can reset it here</p>
    <div>
        <label for="email" class="control-label">Enter your email</label><span class="required-field">*</span>
        <input  required email name="email" #email="ngModel"
            class="form-control register-email register-label" type="text" [(ngModel)]="userEmail">
        <span class="help-block error" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="help-block error" *ngIf="email.errors?.email && email.touched">Email is invalid</span>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default save-button-modal" (click)="onSave()">Reset Password</button>
    <button type="button" class="btn btn-default cancel-button-modal" (click)="onCancel()">Cancel</button>
</div>