<div class="modal-header header-modal-container">
    <h4 class="modal-title pull-left">Edit Hero {{ heroName }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<div class="modal-body">
    <div class="hero-container" *ngIf="!isLoading">
        <div>
            <div class="field-wrapper">
                <label>Name</label><span class="required-field">*</span>
            </div>
            <input type="text" class="hero-modal-input" [(ngModel)]="hero.name" required="true" />
        </div>
        <div>
            <div class="field-wrapper">
                <label>Type</label><span class="required-field">*</span>
            </div>
            <select (change)="getSelectedType($event)" class="power-modal-dropdown" required="true">
        <option value="{{ initialHeroType.id }}">
          {{ initialHeroType.name }}
        </option>
        <option *ngFor="let type of heroTypes" value="{{ type.id }}">
          {{ type.name }}
        </option>
      </select>
        </div>
        <div>
            <div class="field-wrapper">
                <label>Powers</label><span class="required-field">*</span>
            </div>
            <ejs-multiselect required="true" [value]="hero.powers" [dataSource]="powers" [fields]="localFieldsPowers" [placeholder]="placeholderPowers" [(ngModel)]="powersIds"></ejs-multiselect>
        </div>
        <div>
            <label>Main Power</label><span class="required-field">*</span>
            <select (change)="getSelectedMainPower($event)" class="power-modal-dropdown" required="true" [(ngModel)]="initialMainPower.id">
        <option value="0">No main power</option>
        <option *ngFor="let powerId of powersIds" value="{{ powerId }}">
          {{ getPowerName(powerId) }}
        </option>
      </select>
        </div>
        <div>
            <div class="field-wrapper">
                <label>Allies</label><span class="required-field">*</span>
            </div>
            <ejs-multiselect required="true" [value]="hero.allies" [dataSource]="allies" [fields]="localFieldsAllies" [placeholder]="placeholderAllies" [(ngModel)]="alliesIds"></ejs-multiselect>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default save-button-modal" (click)="onSave()">Save</button>
    <button type="button" class="btn btn-default  cancel-button-modal" (click)="onCancel()">Cancel</button>
</div>
