$red: rgb(145, 14, 9);
$blue-edit-button: rgb(39, 128, 212);
$green: rgb(23, 143, 23);
$main-theme-blue: rgb(10, 77, 153);
$blue-login-box: rgba(185, 185, 211, 0.4);
$birthday-warning: #facf875c;
$birthday-error: rgba(196, 34, 34, 0.301);

$battle-btn-color:#ff0000b3;
$travel-btn-color: #40ff00b3;
$bem-btn-color: #ffee00;

$active-link-color:  #007bff;
$active-icon-link-color:  #46b1e2;
$link-color: #6786DD;

$dark-green: rgb(2, 87, 2);
$dark-blue: rgb(53, 53, 97);
$dark-purple:rgb(90, 3, 90);
$primary-blue:#0275d8;
$light-grey:lightslategrey;
$purple:purple;
$dark-red: rgb(99, 5, 5);