<div class="modal-header header-modal-container">
    <h4 class="modal-title pull-left">Edit location</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">×</span>
  </button>
</div>

<div class="modal-body">
    <div class="flex-container">
        <div class="form-group location-search-wrapper">
            <input type="text" class="form-control search-input" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
        <div class="map-wrapper" fxFlex="1 1 100%">
            <agm-map class="map" [latitude]="hero.latitude" [longitude]="hero.longitude" (mapClick)="onChoseLocation($event)" [zoom]="zoom">
                <agm-marker [latitude]="hero.latitude" [longitude]="hero.longitude" [markerDraggable]="true" (dragEnd)="onChoseLocation($event)"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>

<div class="modal-footer ">
    <button type="button " class="btn btn-default save-button-modal " (click)="onSave() ">Save</button>
    <button type="button " class="btn btn-default  cancel-button-modal " (click)="onCancel() ">Cancel</button>
</div>